/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0; 
  padding: 0;
  border: 0; 
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body { 
  line-height: 1.2;
  font-size: 16 px;
  /* background: #afd9f9; */
  /* color: #888; */
  font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}


ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* custom styles  */
nav{
    position: fixed;
    box-sizing: border-box;
    margin: 0;
    background-color: #fe46a5;
    width: 100%;
    padding: 1rem;
    text-align: center;
    z-index: 1;
}
nav h1{
    font-family: Luxurious Script;
    color:white;
    font-size: 2.5rem;
    font-weight: 800;
    border: 0.2rem white solid;
    border-radius: 1rem;
    padding: 1rem;
}
#banner h3{
    position: relative;
    box-sizing: border-box;
    top: 6.5rem;
    font-family: Oooh Baby;
    font-size: 4rem;
    color: #fe46a5;
    font-weight: 800;
    text-align: center;
    padding: 1rem;
    text-shadow: 0  0.2rem   0.3rem white ;
    
}
#banner img{
    width:100%;
}

 /* div #navbar{
    position: sticky;
    top:10rem;
} */

menu{
    text-align: center;
    border: 0.2rem #fe46a5 solid;
    /* position: sticky;
    top: 1rem; */
}
a{
    text-decoration: none;
    color: #000;
}
a:hover{
    color:#fe46a5;
    font-weight: 800;
    text-decoration: underline;
}
li{
    display:inline-block;
    font-size: 2rem;
    font-family: Oooh Baby;
    padding: 1rem 4rem;
}
#content h3{
    padding: 2rem;
    font-size: 4rem;
    font-family: Luxurious Script;
    color: #fe46a5;
    font-weight: 800;
    /* position: sticky; 
    top:20rem; */
}
#content p{
    padding: 0 1rem;
    font-size: 1.5rem;
    font-family: Oooh Baby;
    font-weight: 600;
}
img.display {
    width:45%;
    padding:1.5rem;
}

img.display:hover{
    position: relative;
    top:-0.5rem;
}

footer h5{
    text-align: center;
    font-family: Luxurious Script;
    font-size: 2rem;
    color: #fe46a5;
}
footer p{
    text-align: center;
    font-family: Oooh Baby;
    font-size: 1.5rem;
    margin: 0.5rem;
    /* color: black;   */
}
.textbox{
    /* text-align: center; */
    width: 40%;
    font-family: Oooh Baby;
    margin: 0.5rem auto;
    background-color: #f7b1d5;
    border-radius: 2rem;
    border: 0.2rem #fe46a5 solid; 
    padding: 0.5rem 1rem;
}
/* .textbox:hover{
    box-shadow: #fe46a5;
    width: 40%;
    margin: 0.5rem auto;
    background-color: #f7b1d5;
    border-radius: 2rem;
    border: 0.2rem #fe46a5 solid; 
    padding: 0.5rem 1rem;
} */
.button{
    width: 10%;
    font-family: Oooh Baby;
    text-align: center;
    background-color: #fe46a5;
    color: white;
    border-radius: 2rem;
    /* border: 0.2rem #fe46a5 solid;  */
    padding: 0.5rem 1rem; 
    margin: 0.5rem auto;
}
.button:hover{
    position: relative;
    top: -0.2rem;
    /* box-shadow: grey; */
    width: 10%;
    text-align: center;
    background-color: #fe46a5;
    color: white;
    border-radius: 2rem;
    /* border: 0.2rem #fe46a5 solid;  */
    padding: 0.5rem 1rem; 
    margin: 0.5rem auto;
}

/* @media screen and (min-width: 768px){
img.display
#navbar menu{
    display: inline-block;
}
} */